<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <link rel="icon" href="https://xkcd.com/s/919f27.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="description" content="Discord bot with xkcd comics and WhatIfs at hand" >
	<meta name="author" content="SpaceFire" >
	<meta name="keywords" content="discord, discord-bot, xkcd, whatif, xkcdBot">
  <meta name="viewport" content="width=device-width">
  <title>xkcdBot</title>
	
</head>
<body>
	<main>
    <div class="box">
		  <h1> xkcdBot</h1><a href="https://discord.com/api/oauth2/authorize?client_id=718079038471798824&permissions=0&scope=bot"  target="_blank">Bot Invite Link</a> <a href="https://discord.gg/C3gXEm" target="_blank">Server Invite Link</a>
    </div>

		<div class="box">  
      <h2> Discord bot with xkcd comics and WhatIfs at hand.</h2>
       Note: this bot is not created or (as of writing) endorsed by <a href="https://xkcd.com" target="_blank">xkcd</a> or Randall Munroe.
    </div>

    <div class="box">
		  <h3> Commands</h3>	
      <div id='commands'>

        <h4>xkcd help</h4>
        <div class='command-info'>
          description: Shows list of the commands and what they do.
        </div>
        <hr>

        <h4>xkcd random</h4>
        <div class='command-info'>
          description: Retrieves a random xkcd comic
        </div>
        <hr>

        <h4>xkcd latest</h4>
        <div class='command-info'>
          description: Retrieves the latest xkcd comic
        </div>
        <hr>

        <h4>xkcd comic [number]</h4>
        <div class='command-info'>
          description: Retrieves the corresponding xkcd comic to [number]
        </div>
        <hr>
        
        <h4>xkcd random-whatif</h4>
        <div class='command-info'>
          description: This retrieves a random WhatIf link
        </div>
        <hr>
        
        <h4>xkcd latest-whatif</h4>
        <div class='command-info'>
          description: This retrieves the latest WhatIf link
        </div>
        <hr>

        <h4>xkcd whatif [number]</h4>
        <div class='command-info'>
          description: This retrieves the corresponding Whatif to [number]
        </div>
        <hr>

        <h4>xkcd servers</h4>
        <div class='command-info'>
          description: This retrieves number of servers the bot is in and total number of users shared across the
        </div>
        <hr>

        <h4>xkcd feedback [message]</h4>
        <div class='command-info'>
          description: This sends the developer(s) of the bot your message (cannot be over 2000 characters)
        </div>

      </div>
    </div>
	</main>
</body>
</html>